<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Cache Improvement configuration</title>

        <input-field type="bool">
            <name>enableMediaUrlGenerator</name>
            <label>Enable for "Media Url Generator"</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enableAssetVersionStrategy</name>
            <label>Enable for "Asset Version Strategy"</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>
